
#myCanvas {
    width : 500px;
    height : 500px;
    border : 0px solid black;
    padding : 0px;
    margin : 0px;
    background-color: green;
}

.sampleSmallImgs {
    width : 200px;
    height : 200px;
}

img[src$='#small']
{
    width : 200px;
    height : 200px;
}